<%= render 'shared/error_messages', object: @user %>
<%= form_for @user do |f| %>
  <table>
  	<tr>
  		<td><%= f.label :email %></td>
  		<td><%= f.email_field :email %></td>
  	</tr>
  	<tr>
  		<td><%= f.label :first_name %></td>
  		<td><%= f.text_field :first_name %></td>
  	</tr>	
  	<tr>
  		<td><%= f.label :last_name %></td>
  		<td><%= f.text_field :last_name %></td>
  	</tr>	
  	<tr>
  		<td><%= f.label :pic %></td>
  		<td><%= f.file_field :pic %></td>
  	</tr>
  	<tr>
  		<td><%= label_tag 'Role' %></td>
  		<td><%= f.collection_select :role_ids, Role.active, :id, :role_name, {}, {multiple: true} %></td>
  	</tr>	
  	<tr>
  		<td></td>
  		<td><%= f.submit 'Create' %></td>
  	</tr>	
  </table>

<% end %>